.container {
  max-width: 1500px !important;
}

.hero-background {
  background-image: url("../assets/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
}

.hero-box {
  background-color: #597eb5d9;
  width: 45%;
  padding: 40px;
}

.hero-tag {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #597eb5;
  line-height: 20px;
  text-align: center;
  width: max-content;
}

.hero-heading {
  font-size: 60px;
  font-weight: 400;
  color: white;
  text-align: left;
  line-height: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.hero-desc {
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-align: left;
  line-height: 30px;
}

.section-2 {
  background-image: url("../assets/images/sect2BG.png");
  background-size: initial;
  background-position: bottom right;
  background-repeat: no-repeat;
  padding: 120px 0 !important;
}

.image-box {
  display: flex;
  gap: 20px;
}

.sect2-desc {
  color: #636363;
  font-size: 18px;
  line-height: 30px;
}

.section-3 h2 {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

@media screen and (max-width: 600px) {
  .section-2 {
    padding: 80px 0 !important;
  }

  .hero-background {
    height: 600px;
  }

  .hero-grid {
    display: flex;
    justify-content: center;
  }

  /* .hero-box {
    width: 88% !important;
    padding: 15px;
  } */

  .hero-heading {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-tag {
    width: 90%;
    font-size: 12px;
  }

  .display-none {
    display: none;
  }

  .section-2 {
    padding: 50px 15px !important;
  }

  .image-box {
    flex-direction: column;
    gap: 20px;
  }

  .sect2-desc {
    padding-right: 0px;
  }

  .section-3 h2 {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .section-2 {
    padding: 80px 0 !important;
  }

  .hero-background {
    height: 500px !important;
  }

  .hero-grid {
    display: flex;
    justify-content: center;
  }

  /* .hero-box {
    width: 75%;
    padding: 15px;
  } */

  .hero-heading {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-tag {
    width: 90%;
  }

  .display-none {
    display: none;
  }

  .section-2 h2 {
    margin-bottom: 0px !important;
  }

  .contact-faq {
    padding: 50px 0px !important;
  }

  .image-box {
    flex-direction: column;
    gap: 20px;
  }

  .sect2-desc {
    padding-right: 0px;
  }

  .section-3 h2 {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 991px) {
  .section-2 {
    padding: 80px 0 !important;
  }

  .hero-background {
    height: 600px;
  }

  .hero-grid {
    display: flex;
    justify-content: center;
  }
/* 
  .hero-box {
    width: 75%;
    padding: 15px;
  } */

  .hero-heading {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-tag {
    width: 90%;
  }

  .sect2-desc {
    font-size: 16px;
  }
  .section-2 h2 {
    line-height: 60px;
  }

  .image-box {
    flex-direction: column;
    gap: 20px;
  }

  .sect2-desc {
    padding-right: 0px;
  }

  .section-3 h2 {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .section-2 {
    padding: 80px 0 !important;
  }

  .hero-background {
    height: 500px !important;
  }

  .hero-grid {
    display: flex;
    justify-content: center;
  }

  /* .hero-box {
    width: 75%;
    padding: 15px;
  } */

  .hero-heading {
    font-size: 40px;
    line-height: 50px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 26px;
  }

  .hero-tag {
    width: 90%;
  }

  .section-2 h2 {
    margin-bottom: 0px !important;
  }

  .image-box {
    flex-direction: column;
    gap: 20px;
  }

  .image-box img {
    height: 380px !important;
  }

  .sect2-desc {
    padding-right: 0px;
  }

  .section-3 h2 {
    font-size: 60px !important;
    line-height: 60px !important;
  }

  .contact-faq {
    padding: 70px 0px !important;
  }
}

@media screen and (max-width: 1199px) {
  .hero-background {
    height: 700px;
  }

  .hero-grid {
    display: flex;
    justify-content: center;
  }

  .hero-box {
    width: 100%;
    padding: 20px;
  }

  .hero-heading {
    font-size: 50px;
    line-height: 60px;
  }

  .hero-desc {
    font-size: 18px;
    line-height: 28px;
  }

  .hero-tag {
    width: 90%;
  }

  .image-box {
    flex-direction: column;
    gap: 20px;
  }

  .image-box img {
    height: 400px;
  }

  .sect2-desc {
    padding-right: 0px;
  }

  .section-3 h2 {
    font-size: 80px;
    line-height: 80px;
  }
}

@media screen and (max-width: 1600px) {
  .hero-background {
    height: 500px;
  }

  .hero-grid {
    display: flex;
    justify-content: center;
  }

  .hero-heading {
    font-size: 50px;
    line-height: 60px;
  }

  .hero-desc {
    font-size: 18px;
    line-height: 28px;
  }

  .hero-tag {
    width: 90%;
  }

  .image-box {
    flex-direction: row;
    gap: 20px;
    justify-content: center;
  }

  .image-box img {
    height: 450px;
  }

  .sect2-desc {
    padding-right: 0px;
  }

  .section-3 h2 {
    font-size: 80px;
    line-height: 80px;
  }
}

@media screen and (max-width: 320px) {
  .hero-background {
    height: 550px !important;
  }

  .hero-tag {
    line-height: 20px;
  }

  .hero-heading {
    font-size: 35px;
    line-height: 40px;
  }

  .section-2 h2 {
    font-size: 50px !important;
  }

  .contact-us {
    flex-wrap: wrap;
  }

  .contact-us img {
    display: none;
  }

  .contact-us span {
    font-size: 16px !important;
  }

  .contact-faq {
    padding: 50px 0px !important;
  }

  .sect2-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .section-2 h2 {
    line-height: 56px !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 520px) {
  .hero-background {
    height: 550px;
  }

  .hero-tag {
    line-height: 20px;
  }

  .hero-heading {
    font-size: 25px;
    line-height: 35px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .section-3 h2 {
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .contact-us {
    flex-direction: column;
  }

  .contact-us img {
    display: flex;
  }
  .contact-us span {
    font-size: 16px !important;
  }

  .contact-faq {
    padding: 50px 0px !important;
  }

  .sect2-desc {
    font-size: 16px;
    line-height: 24px;
  }

  .section-2 h2 {
    line-height: 30px !important;
    margin-bottom: 0 !important;
    font-size: 25px !important;
  }

  .footer-links {
    flex-direction: column !important;
  }
}

.footer-bg {
  background-image: url("../assets/images/footer.png");
}

@media screen and (max-width: 980px) {
  .footer-links {
    flex-wrap: wrap !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 1440px) {
  .section-3 h2 {
    font-size: 60px ;
    line-height: 60px ;
  }
}
